<div class="row">
    <div class="col-lg-6 col-md-6 col-xs-6">
     
        <div class="carousel-demo">
            index: <input type="text" class="tiny" ng-model="current.slide"/>
            <ul rn-carousel rn-carousel-index="current.slide"  rn-carousel-pause-on-hover  rn-carousel-buffered class="carousel2" >
                <li ng-repeat="slide in searchResults track by slide.document_id" ng-class="'id-' + slide.document_id">
                    <img http-src="api/document/{{slide.document_id}}" class="img-responsive" alt="Doc" width="460" height="345"/>
                </li>
            </ul>
            <div rn-carousel-indicators ng-if="searchResults.length > 1" slides="searchResults" rn-carousel-index="current.slide"></div>
        </div>
</div>
    <div class="col-xs-6">
        <div class="row">
            <div class="col-xs-6 ">
                <div class="row">
                    <doc-info></doc-info>
                </div>

            </div>
            <div class="col-xs-6">

                <div class="row">
                    <div class='col-xs-12'>
                        <search-select-doc></search-select-doc>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>