<!-- Page Content -->
<div class="container-fluid" style="padding-top: 50px;">

    <div class="row">
        <div class="col-xs-6">
            <br>
            <carousel></carousel>

        </div>


    
        <div class="col-xs-6">
            <div class="row">
                <div class="col-xs-6 ">
                    <div class="row">
                        <doc-info></doc-info>
                    </div>

                </div>
                <div class="col-xs-6">
        
                    <div class="row">
                        <div class='col-xs-12'>
                            <group-list></group-list>
                            <current-group></current-group>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<hr>


<!-- Footer -->
<footer>
    <div class="row">
        <div class="col-lg-12">
            <p>Copyright &copy; Your Website 2014</p>
        </div>
    </div>
    <!-- /.row -->
</footer>

</div>
