<div class="hero-feature">
    <div class="thumbnail">
        <div class="caption">
            <p style="display:inline">
                <h3 class='text-center'>Current Group: {{current.group.name}}</h3>
            </p>
        </div>
        <ul class="list-group">
            <div class="row">
                <div class="col-md-2 col-xs-2">
            </div>
            <div class="col-md-8 col-xs-8">
                <div class="ui-menu">
                    <md-radio-group ng-model="current.member" class="md-primary">
            
                        <md-radio-button ng-repeat="member in current.group.members" ng-value="member" ng-disabled=" member.isDisabled " >
                        Member: {{ member.name }} 
                    </md-radio-group>
                    </div>
                </div>
                <br>
                <p>
                    <a href="#" class="btn btn-danger">
                        Leave Group
                    </a>
                </p>
            </div>
           
        </ul>
    </div>
</div>
