<fieldset ng-repeat="tag in metaTags">
    <div class="col-lg-5 col-md-5">
        <input type="text" class="form-control" ng-model="tag.name" placeholder="Key">
    </div>

    <div class="col-lg-5 col-md-5">
        <input type="text" class="form-control" ng-model="tag.value" placeholder="Value">
    </div>

    <div class="col-lg-2 col-md-2">
        <button type="button" class="btn btn-danger" ng-show="$last" ng-click="removeChoice()"><i class="fa fa-minus" aria-hidden="true"></i></button>
    </div>

    <div class="col-xs-12 col-md-12">
        <button type="button" class="btn btn-default" ng-show="$last" ng-click="addNewChoice()"><i class="fa fa-plus" aria-hidden="true"></i></button>
    </div>
</fieldset>